body {
    background-color: hsl(0, 0%, 98%);
    padding: 20px;




}

h1, h2, h3, h4, h5, h6 {
    color: hsl(0, 0%, 30%);
}

.box-element {
    box-shadow: hsl(0, 0%, 80%) 0 0 10px;
    background-color: #fff;
    border-radius: 4px;
    padding: 17px;
}

.thumbnail {
    width: 30%;
    height: 60px; /* Adjust the height as needed */
    -webkit-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
}

.product {
    border-radius: 0 0 4px 4px;
}

.col-lg-6, .col-lg-8, .col-lg-12 {
    margin-top: auto;
}

.col-lg-4 {
    margin-bottom: 20px; /* Adjust the margin as needed */
}

.btn {
    border-radius: 0;
    margin-right: 7px
}

h6 {
    font-size: 14px; /* Adjust the font size as needed */
}

h4 {
    font-size: 17px; /* Adjust the font size as needed */
}
